/* From Uiverse.io by joe-watson-sbf */ 
.butin {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .butin::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.5s ease;
  }
  
  .butin:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .butin:hover::before {
    width: 100%;
  }
  
  .butin::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .butin:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  
  